<h1>Get Help</h1>
<p>This is the help page of <strong>Socials</strong>.
You can raise an issue <a href="https://github.com/asksaurabh/Socials" target="_blank">here</a>. Live app will be available soon <a href="#">here</a>.
</p>
